<launch>
  <!-- Forest depth-camera demo for TD3 velocity planning. -->
  <arg name="drone_id" default="0"/>
  <arg name="odom_topic" default="visual_slam/odom"/>
  <arg name="init_x" default="-12.0"/>
  <arg name="init_y" default="0.0"/>
  <arg name="init_z" default="1.2"/>

  <arg name="map_size_x" default="60.0"/>
  <arg name="map_size_y" default="40.0"/>
  <arg name="map_size_z" default="3.0"/>

  <arg name="goal_topic" default="/goal"/>
  <arg name="model_path" default="$(find diff_planner)/models/actor_weights.npz"/>
  <arg name="policy_backend" default="numpy"/>
  <arg name="debug" default="true"/>
  <arg name="rviz_config" default="$(find diff_planner)/launch/include/forest_depth_demo.rviz"/>
  <arg name="show_depth_window" default="true"/>
  <arg name="use_depth_colorizer" default="true"/>

  <!-- Planner limits are kept close to the 20 Hz training setup. -->
  <arg name="rate" default="20.0"/>
  <arg name="max_vel" default="1.5"/>
  <arg name="max_acc" default="2.0"/>
  <arg name="max_z_vel" default="0.45"/>
  <arg name="world_size" default="20.0"/>
  <arg name="sensor_range" default="5.0"/>
  <arg name="z_min" default="0.45"/>
  <arg name="z_max" default="2.4"/>

  <!-- Forest map: many tall cylinders with enough spacing for visible weaving. -->
  <arg name="forest_x" default="30.0"/>
  <arg name="forest_y" default="18.0"/>
  <arg name="forest_z" default="3.0"/>
  <arg name="tree_count" default="95"/>
  <arg name="tree_radius_min" default="0.35"/>
  <arg name="tree_radius_max" default="0.60"/>
  <arg name="tree_height_min" default="2.6"/>
  <arg name="tree_height_max" default="3.0"/>
  <arg name="tree_min_dist" default="1.15"/>

  <include file="$(find diff_planner)/launch/include/simulator.xml">
    <arg name="drone_id" value="$(arg drone_id)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="init_x_" value="$(arg init_x)"/>
    <arg name="init_y_" value="$(arg init_y)"/>
    <arg name="init_z_" value="$(arg init_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
  </include>

  <node pkg="map_generator" name="random_forest" type="random_forest" output="screen">
    <param name="map/x_size" value="$(arg forest_x)"/>
    <param name="map/y_size" value="$(arg forest_y)"/>
    <param name="map/z_size" value="$(arg forest_z)"/>
    <param name="map/resolution" value="0.10"/>
    <param name="map/obs_num" value="$(arg tree_count)"/>
    <param name="ObstacleShape/lower_rad" value="$(arg tree_radius_min)"/>
    <param name="ObstacleShape/upper_rad" value="$(arg tree_radius_max)"/>
    <param name="ObstacleShape/lower_hei" value="$(arg tree_height_min)"/>
    <param name="ObstacleShape/upper_hei" value="$(arg tree_height_max)"/>
    <param name="map/circle_num" value="0"/>
    <param name="ObstacleShape/radius_l" value="0.7"/>
    <param name="ObstacleShape/radius_h" value="0.5"/>
    <param name="ObstacleShape/z_l" value="0.7"/>
    <param name="ObstacleShape/z_h" value="0.8"/>
    <param name="ObstacleShape/theta" value="0.5"/>
    <param name="sensing/radius" value="5.0"/>
    <param name="sensing/rate" value="1.0"/>
    <param name="min_distance" value="$(arg tree_min_dist)"/>
  </node>

  <node pkg="diff_planner" type="td3_velocity_planner.py"
        name="drone_$(arg drone_id)_td3_velocity_planner" output="screen">
    <remap from="odom" to="/drone_$(arg drone_id)_$(arg odom_topic)"/>
    <remap from="goal" to="$(arg goal_topic)"/>
    <!-- This is generated by the local depth renderer from /map_generator/global_cloud. -->
    <remap from="obstacle_cloud" to="/drone_$(arg drone_id)_pcl_render_node/rendered_pcl"/>
    <remap from="position_cmd" to="/drone_$(arg drone_id)_planning/pos_cmd"/>

    <param name="policy_backend" value="$(arg policy_backend)"/>
    <param name="model_path" value="$(arg model_path)"/>
    <param name="debug" value="$(arg debug)"/>
    <param name="rate" value="$(arg rate)"/>
    <param name="max_vel" value="$(arg max_vel)"/>
    <param name="max_acc" value="$(arg max_acc)"/>
    <param name="max_z_vel" value="$(arg max_z_vel)"/>
    <param name="world_size" value="$(arg world_size)"/>
    <param name="sensor_range" value="$(arg sensor_range)"/>
    <param name="yaw_rays" value="12"/>
    <param name="pitch_rays" value="3"/>
    <param name="max_cloud_points" value="1200"/>
    <param name="z_min" value="$(arg z_min)"/>
    <param name="z_max" value="$(arg z_max)"/>
    <param name="default_goal_z" value="$(arg init_z)"/>
    <param name="goal_z_min" value="$(arg z_min)"/>
  </node>

  <node if="$(arg use_depth_colorizer)" pkg="diff_planner" type="depth_cloud_colorizer.py"
        name="drone_$(arg drone_id)_depth_cloud_colorizer" output="screen">
    <remap from="global_cloud" to="/map_generator/global_cloud"/>
    <remap from="odom" to="/drone_$(arg drone_id)_$(arg odom_topic)"/>
    <remap from="depth" to="/drone_$(arg drone_id)_pcl_render_node/depth"/>
    <remap from="colordepth" to="/drone_$(arg drone_id)_pcl_render_node/colordepth"/>
    <param name="cam_width" value="640"/>
    <param name="cam_height" value="480"/>
    <param name="cam_fx" value="387.229248046875"/>
    <param name="cam_fy" value="387.229248046875"/>
    <param name="cam_cx" value="321.04638671875"/>
    <param name="cam_cy" value="243.44969177246094"/>
    <param name="min_depth" value="0.3"/>
    <param name="max_depth" value="$(arg sensor_range)"/>
    <param name="publish_rate" value="10.0"/>
    <param name="color_map" value="jet"/>
  </node>

  <node if="$(arg show_depth_window)" pkg="image_view" type="image_view"
        name="drone_$(arg drone_id)_color_depth_view" output="screen">
    <remap from="image" to="/drone_$(arg drone_id)_pcl_render_node/colordepth"/>
  </node>

  <node pkg="rviz" type="rviz" name="forest_depth_rviz_$(arg drone_id)"
        args="-d $(arg rviz_config)"/>
</launch>
